.from-right{
    margin-right:25%;
}

.from-left{
    margin-left:25%;
}

.head-wrap{
    margin-top:15%;
}

.know-wrap{
    padding-top:100px;
}

.know-height{
    height:400px;
}

.what_padding{
    padding-top:90px;
    padding-bottom:90px;
}